body{
    margin: 0 auto;
}
body .nav-bar{
    background: #000000;
    padding: 10px;
    
    
}
ul{
    display: inline;
    color: white;
}
li{
    display: inline;
}

form{
    display: inline;
}